@model FieldEdgeWebDeveloper.Models.CustomerModel
@{
}

<h1>Edit</h1>

<h4>Student</h4>
<div class="row">
    <form method="post" action="Edit">

        <div class="mb-3">            
            <input type="hidden" class="form-control" asp-for="Id">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">First Name</label>
            <input type="text" class="form-control" asp-for="Firstname">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Last Name</label>
            <input type="text" class="form-control" asp-for="Lastname">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Phone Number</label>
            <input type="text" class="form-control" asp-for="PhoneNumber">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">CountryCode </label>
            <input type="text" class="form-control" asp-for="CountryCode">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Gender </label>
            <input type="text" class="form-control" asp-for="Gender">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Balance </label>
            <input type="text" class="form-control" asp-for="Balance">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="row">
    <a asp-action="Index">Back to List</a>
</div>